* {
  text-align: center;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

header {
  background-color: #1f2937;
  padding: 30px 10px;
  color: aliceblue;
}

li {
  display: inline;
  list-style: none;
  padding-right: 10px;
}

a:visited {
  color: rgb(213, 228, 240);
}

a:hover {
  color: plum;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin-right: auto;
  padding-left: 10px;
}
